---
title: we are brent.
subtitle:
---
<html class="main-html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="We Are Brent. Get an insight into the programmer behind the curtain.">
        <meta name="msapplication-TileColor" content="#2B2449">
        <meta name="theme-color" content="#ffffff">

        <title>{{ title }} {{ subtitle }}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{{'/images/apple-touch-icon.png' | url}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{'/images/favicon-32x32.png' | url}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{'/images/favicon-16x16.png' | url}}">
        <link rel="manifest" href="{{'/site.webmanifest' | url}}">
        <link rel="stylesheet" href="{{' /dist/css/app.css' | url }}" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Press+Start+2P&family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap" rel="stylesheet">
    </head>

    <body class="main-body">
        <div class="main-header">
            <div class="main-header__logo-wrap">
                <img class="nav-logo" src="/images/logo.png" alt="we are brent logo" />
                <a href="{{ '/' | url }}"><span>we are <span>brent</span>.</span></a>
            </div>

            <nav class="nav">
                <ul class="nav__list">
                    <li><a class="nav__link {% if activeLink == 'about' %}active{% endif %}" href="{{ '/about' | url }}"><span>about</span></a></li>
                    <li><a class="nav__link {% if activeLink == 'portfolio' %}active{% endif %}" href="{{ '/portfolio' | url }}"><span>portfolio</span></a></li>
                    <li><a class="nav__link {% if activeLink == 'resume' %}active{% endif %}" href="{{ '/resume' | url }}"><span>resume</span></a></li>
                </ul>
            </nav>
        </div>

        <div class="container main-container">
            {{ content | safe }}
        </div>
    </body>
</html>
