@use '../mixins/_media-query' as *;

.nav__list {
    list-style: none;
    color: black;
    padding-left: 0;
}

.nav__list li {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 3rem;

    &:last-child {
        margin-right: 0;
    }
}

.nav__link {
    color: var(--gray);
    transition: 300ms ease-in-out all;

    &.active {
        color: #222;
        font-weight: 700;
    }

    &:hover {
        color: #222;
    }

    &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000;
        transition: width .3s;
    }

    &:hover::after {
        width: 100%;
        //transition: width .3s;
    }
}

.nav-logo {
    margin-right: 1rem;
    max-width: 60px;
}
