@use '../mixins/_media-query' as *;

.resume__list {
    list-style-type: none;
    padding-left: 0;
}

.resume__company {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;

    @include devices(tablet) {
        font-size: 1.5rem;
    }
}

.resume__title {
    display: block;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0.4rem;

    &:nth-child(4) {
        margin-bottom: 1rem;
    }
}

.resume__description {
    font-weight: 300;
    margin-bottom: 0;
}

.resume-divider {
    background-color: var(--secondary-color);
    border-right: 15px solid var(--main-color);
    height: 25px;
    margin: 3rem 0 3rem -20%;
    width: 70%;
}

.resume__skills-list {
    column-count: 3;

    @include devices(tablet) {
        column-count: 2;
    }
}

.resume__skill {
    display: list-item;
}
