---
layout: main
subtitle: " - about"
activeLink: "about"
---
<h1 class="page-heading">
    $ cat ./about
</h1>

<section class="page-content fs--m">
    <section class="page-content__subsect">
        <h2 class="page-content__subsect-title">a brief history of <span class="strikethrough">time</span> me</h2>

        <div class="page-content__sebsect-content">
            <p>I would probably say my web journey started in the Fall of 1997. I would have been a naive 11 year old that had no clue what the internet was for other than using it for research for projects at school. I didn't even own a computer at this point. One day, my father brings a mysterious box home with a label that reads "WebTv" on it. I was stoked. I could finally get on the internet and...do stuff? I had no idea what to look at first. I remember looking at WWE news and comic book stuff...as well as various chatrooms which I undoubtedly abused like an 11 year old would. Funny enough - it was a fantasy wrestling league that I joined that would kick start my life as a software engineer.</p>

            <p>I know what you're thinking. "Fantasy wrestling? Software engineering? What?"...but just hear me out. Back then, fantasy wrestling basically took place via message boards. There would be a fantasy wrestling equivalent to a dungeon master that would assign the wrestling matches for that week. Each of the participants (which assumed a wrestling identity - mine was Billy Gunn) would then take turns writing a detailed description of the match along with who won, etc. I was good at it. No...great at it. I could write circles around anyone I came up against which easily won me the matches. But I was hungry for more. I started noticing that some users' posts were styled with colorful text and even images. I had to know how they did that. That's when I was exposed to HTML.</p>

            <p>Long story short - I learned HTML to up my wrestling game. How lame? Very lame. BUT. I know had a skill that I REALLY enjoyed using. I found out that the WebTV came with this website development app that allowed you to create your own website either with a template or with your own markup. So I started creating fan websites for comics and horror movies and just kept building upon my skills from there. After the WebTV days, I learned how to build a custom PC and I never looked back. I moved into Flash/actionscript, Javascript and PHP. I was constantly visiting Newgrounds.com and was creating little "single page applications" using Flash with all the bells and whistles. The internet was so cool back then.</p>

            <p>For what it's worth, I'm not actually a wrestling fan anymore...but at least I got software development out of it! I also have multiple degrees in the biological sciences (B.S. and M.S.). I don't do that anymore either...but at least I got my wife out of it!</p>

            <p>Fast forward to 2013 - I wanted to get out of the science field and go back to my true passion of web development. Having no degrees in Computer Science or actual professional experience in web development, I somehow talked my way into my first development job as a software quality engineer. From there on out, I made it a point to buddy up to every developer to learn the ins and outs of software development. I went from testing code to writing code and have been doing it ever since.</p>

            <p>It has been a long journey, but I feel like I'm finally "on top of my game" when it comes to software development. I'm to a point where I can learn and adapt pretty much anything and have even written my own PHP framework. On any given day I could be writing a VueJS component, doing devops work, setting up applications in AWS, implementing a payment processor or any other random thing. Life is great and the work is amazing.</p>

            <p>Outside of "work" I'm a huge fan of game development and 3D art. I've played around with Unity and Unreal Engine; mostly just recreating levels from old games I once played like Star Wars Galaxies...but ultimately just to have fun. I have some experience playing around with data science concepts and have been published in national/international journals more than 3 times (ask me more details about my former, non-dev life sometime). I love reading books, horror movies, comic books, sci-fi, woodworking, home renovations and delicious food and coffee. I have an amazing wife and three lovely, yet crazy kids. Life is great.
        </div>
    </section>
</section>
