<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="We Are Brent. Get an insight into the programmer behind the curtain.">
        <meta name="msapplication-TileColor" content="#2B2449">
        <meta name="theme-color" content="#ffffff">

        <title>we are brent.</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{{'/images/apple-touch-icon.png' | url}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{'/images/favicon-32x32.png' | url}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{'/images/favicon-16x16.png' | url}}">
        <link rel="manifest" href="{{'/site.webmanifest' | url}}">
        <link rel="stylesheet" href="{{'/dist/css/app.css' | url}}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container home-container">
            <div class="home-logo-container">
                <img class="home-logo" src="/images/logo.png" alt="we are brent logo" />

                <div class="home-blurb">
                    <p>we are brent.</p>
                    <p class="text-align--r">we will add your technological needs to our own.</p>
                    <p>resistance is frowned upon :(</p>
                </div>
            </div>

            <nav class="nav margin-b--m">
                <ul class="nav__list">
                    <li><a class="nav__link" href="about"><span>about</span></a></li>
                    <li><a class="nav__link" href="portfolio"><span>portfolio</span></a></li>
                    <li><a class="nav__link" href="resume"><span>resume</span></a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>
