// Margins

.margin-b--s {
    margin-bottom: 0.7rem;
}

.margin-b--m {
    margin-bottom: 1.4rem;
}

// Display
.inline-block {
    display: inline-block;
}

// Widths
.max-w--50p {
    max-width: 50%;
}

// Flexbox

.flex {
    display: flex;
}

.align-right {
    align-items: right;
}

.justify-right {
    justify-content: right;
}

// Text Align

.text-align--r {
    text-align: right;
}

// Font Size

.fs--l {
    font-size: 1.4rem;
}

.fs--m {
    font-size: 1.2rem;
}

.fs--s {
    font-size: 1rem;
}
